MusicStore/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicStore/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicStore/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.Data.assets.cache
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.Data.AssemblyInfoInputs.cache
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.Data.AssemblyInfo.cs
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.AssemblyInfoInputs.cache
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.csprojAssemblyReference.cache
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.csproj.CoreCompileInputs.cache
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.assets.cache
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.Data.pdb
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.Data.dll
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.Data.csprojAssemblyReference.cache
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.Data.csproj.FileListAbsolute.txt
MusicStore/obj/Debug/netcoreapp2.1/MusicStore.Data.csproj.CoreCompileInputs.cache
MusicStore/obj/MusicStore.csproj.nuget.cache
MusicStore/obj/MusicStore.Data.csproj.nuget.g.targets
MusicStore/obj/MusicStore.Data.csproj.nuget.g.props
MusicStore/obj/MusicStore.Data.csproj.nuget.cache
MusicStore/obj/project.assets.json
MusicStore/obj/MusicStore.csproj.nuget.g.targets
MusicStore/obj/MusicStore.csproj.nuget.g.props
.vs/config/applicationhost.config
.vs/MusicStore/v15/Server/sqlite3/storage.ide-wal
.vs/MusicStore/v15/Server/sqlite3/storage.ide-shm
.vs/MusicStore/v15/Server/sqlite3/storage.ide
.vs/MusicStore/v15/Server/sqlite3/db.lock
.vs/MusicStore/v15/.suo
.vs/MusicStore/DesignTimeBuild/.dtbcache
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.Service.pdb
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.API.pdb
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.API.dll
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.API.deps.json
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.Service.dll
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.Models.pdb
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.Models.dll
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.Data.pdb
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.Data.dll
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.API.runtimeconfig.json
MusicStore.API/bin/Debug/netcoreapp2.1/MusicStore.API.runtimeconfig.dev.json
MusicStore.API/obj/project.assets.json
MusicStore.API/obj/MusicStore.API.csproj.nuget.g.targets
MusicStore.API/obj/MusicStore.API.csproj.nuget.g.props
MusicStore.API/obj/MusicStore.API.csproj.nuget.cache
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.pdb
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.dll
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.csprojAssemblyReference.cache
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.csproj.FileListAbsolute.txt
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.csproj.CoreCompileInputs.cache
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.csproj.CopyComplete
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.assets.cache
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.RazorTargetAssemblyInfo.cache
MusicStore.API/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicStore.API/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.RazorAssemblyInfo.cs
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.RazorAssemblyInfo.cache
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.AssemblyInfoInputs.cache
MusicStore.API/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicStore.Models/obj/Debug/netcoreapp2.1/MusicStore.Models.csproj.CoreCompileInputs.cache
MusicStore.Models/obj/Debug/netcoreapp2.1/MusicStore.Models.assets.cache
MusicStore.Models/obj/Debug/netcoreapp2.1/MusicStore.Models.AssemblyInfoInputs.cache
MusicStore.Models/obj/Debug/netcoreapp2.1/MusicStore.Models.AssemblyInfo.cs
MusicStore.Models/bin/Debug/netcoreapp2.1/MusicStore.Models.pdb
MusicStore.Models/bin/Debug/netcoreapp2.1/MusicStore.Models.dll
MusicStore.Models/bin/Debug/netcoreapp2.1/MusicStore.Models.deps.json
MusicStore.API/obj/Debug/netcoreapp2.1/MusicStore.API.AssemblyInfo.cs
MusicStore.Models/obj/MusicStore.Models.csproj.nuget.g.targets
MusicStore.Models/obj/MusicStore.Models.csproj.nuget.g.props
MusicStore.Models/obj/MusicStore.Models.csproj.nuget.cache
MusicStore.Models/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicStore.Models/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicStore.Models/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicStore.Models/obj/Debug/netcoreapp2.1/MusicStore.Models.pdb
MusicStore.Models/obj/Debug/netcoreapp2.1/MusicStore.Models.dll
MusicStore.Models/obj/Debug/netcoreapp2.1/MusicStore.Models.csprojAssemblyReference.cache
MusicStore.API/MusicStore.API.csproj.user
MusicStore/bin/Debug/netcoreapp2.1/MusicStore.Data.runtimeconfig.json
MusicStore/bin/Debug/netcoreapp2.1/MusicStore.Data.runtimeconfig.dev.json
MusicStore/bin/Debug/netcoreapp2.1/MusicStore.Data.pdb
MusicStore/bin/Debug/netcoreapp2.1/MusicStore.Data.dll
MusicStore/bin/Debug/netcoreapp2.1/MusicStore.Data.deps.json
MusicStore.Service/obj/MusicStore.Service.csproj.nuget.g.targets
MusicStore.Service/obj/MusicStore.Service.csproj.nuget.g.props
MusicStore.Service/obj/MusicStore.Service.csproj.nuget.cache
MusicStore.Service/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MusicStore.Service/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MusicStore.Service/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MusicStore.Service/obj/Debug/netcoreapp2.1/MusicStore.Service.pdb
MusicStore.Service/obj/Debug/netcoreapp2.1/MusicStore.Service.dll
MusicStore.Service/obj/Debug/netcoreapp2.1/MusicStore.Service.csprojAssemblyReference.cache
MusicStore.Service/obj/Debug/netcoreapp2.1/MusicStore.Service.csproj.FileListAbsolute.txt
MusicStore.Service/obj/Debug/netcoreapp2.1/MusicStore.Service.csproj.CoreCompileInputs.cache
MusicStore.Service/obj/Debug/netcoreapp2.1/MusicStore.Service.csproj.CopyComplete
MusicStore.Service/obj/Debug/netcoreapp2.1/MusicStore.Service.assets.cache
MusicStore.Service/obj/Debug/netcoreapp2.1/MusicStore.Service.AssemblyInfoInputs.cache
MusicStore.Service/bin/Debug/netcoreapp2.1/MusicStore.Service.pdb
MusicStore.Service/bin/Debug/netcoreapp2.1/MusicStore.Service.dll
MusicStore.Service/bin/Debug/netcoreapp2.1/MusicStore.Service.deps.json
MusicStore.Service/bin/Debug/netcoreapp2.1/MusicStore.Models.pdb
MusicStore.Service/bin/Debug/netcoreapp2.1/MusicStore.Models.dll
MusicStore.Service/bin/Debug/netcoreapp2.1/MusicStore.Data.pdb
MusicStore.Service/bin/Debug/netcoreapp2.1/MusicStore.Data.dll
MusicStore.Service/obj/project.assets.json
MusicStore.Service/obj/Debug/netcoreapp2.1/MusicStore.Service.AssemblyInfo.cs
MusicStore.Models/obj/project.assets.json
MusicStore.Models/obj/Debug/netcoreapp2.1/MusicStore.Models.csproj.FileListAbsolute.txt
MusicStore.Service/obj/MusicStore.Service.csproj.nuget.dgspec.json
MusicStore.API/obj/MusicStore.API.csproj.nuget.dgspec.json
.vs/MusicStore/v16/.suo
.vs/MusicStore/config/applicationhost.config
MusicStore.Models/obj/MusicStore.Models.csproj.nuget.dgspec.json
.vs/MusicStore/v16/Server/sqlite3/storage.ide-shm
.vs/MusicStore/v16/Server/sqlite3/storage.ide
.vs/MusicStore/v16/Server/sqlite3/db.lock
MusicStore/obj/MusicStore.Data.csproj.nuget.dgspec.json
.vs/MusicStore/v16/Server/sqlite3/storage.ide-wal
