<div class="content-fluid">
  <div class="header border-bottom pb-2 mb-3">
      <h3 class="header-title">Artists</h3>
      <div class="form-inline my-2 my-lg-0">
        <ng-template #artistTemp let-r="result" let-t="term">
            <div (click)="selectArtist(r)">
                <ngb-highlight [result]="r.Name" [term]="t"></ngb-highlight>
            </div>
        </ng-template>
        <input id="artistTypeAhead" [editable]="false" type="text" class="form-control mr-sm-2 w-100" [(ngModel)]="searchInput" [resultTemplate]="artistTemp" [ngbTypeahead]="search"  [inputFormatter]="formatter" placeholder="Search" aria-label="Search" #artistTypeAhead />
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm" (click)="prev()"> Prev </button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="next()"> Next </button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-inline float-right">
          <select class="form-control form-control-sm" [(ngModel)]="fieldFilter">
            <option>Name</option>
          </select> &nbsp;
          <div class="btn-group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="asc()"> Asc </button>
              <button type="button" class="btn btn-secondary btn-sm" (click)="desc()"> Desc </button>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="selectedArtist" class="col-md-12 pt-3">
      <div class="float-right">
          <button type="button" class="btn btn-secondary btn-sm" (click)="selectedArtist = null"> Close </button>
      </div>
    </div>
    <app-artist-detail *ngIf="selectedArtist"  class="col-md-12 px-0" #artistDetail></app-artist-detail>
  </div>
  <div *ngIf="!selectedArtist">
      <div class="row" *ngFor="let artist of artists">
          <div class="artist-item col-md-12 py-2">
            <div class="card mb-0">
              <div class="card-body py-1 my-2" (click)="selectArtist(artist)">
                <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4 pl-3 pr-0">
                              <img src="/assets/images/compact-disc 512.png" class="img-thumbnail artist-img" />
                          </div>
                          <div class="col-md-8 pl-0">
                              <strong>{{ artist.Name }}</strong>
                          </div>
                        </div>                  
                      </div>
                      <div class="col-md-6">
                        <ul class="list-inline">
                          <li *ngFor="let album of artist.Album" class="list-inline-item">
                            <small class="album-title mx-2"><a href="javascript:void(0)">{{ album.Title }}</a></small>
                          </li>
                      </ul>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <div class="btn-group">
      <button type="button" class="btn btn-secondary btn-sm" (click)="prev()"> Prev </button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="next()"> Next </button>
  </div>
</div>